{% extends "WPWhitepaperBundle::layout.html.twig" %}

{% block wpwhitepaper_body %}
    <h1>Ajouter un livre blanc</h1>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.title, 'Titre') }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    {{ form_end(form) }}

{% endblock %}