{% extends "WPWhitepaperBundle::layout.html.twig" %}

{% block wpwhitepaper_body %}

    <h1>Livres blancs</h1>

    <ul>
        {% for wp in whitepapers %}
            <li>
                {% if not wp.published %}<span class="label label-default">Non publié</span>{% endif %}
                <a href="{{ path('wp_whitepaper_view', {'id': wp.id}) }}">
                    {#{% if advert.image is not null %}<img src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}" style="max-width:200px;height:auto;" />{% endif %}#}
                    {{ wp.title }}
                </a>
                {#par {{ advert.author }},#}
                le {{ wp.published_on|date('d/m/Y') }}
                par {{ wp.user.company }}
            </li>
        {% else %}
            <li>Pas (encore !) de livres blancs</li>
        {% endfor %}
    </ul>

    {#<ul class="pagination">#}
        {#&#123;&#35; On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b &#35;&#125;#}
        {#{% for p in range(1, nbPages) %}#}
            {#<li{% if p == page %} class="active"{% endif %}>#}
                {#<a href="{{ path('wp_whitepaper_homepage', {'page': p}) }}">{{ p }}</a>#}
            {#</li>#}
        {#{% endfor %}#}
    {#</ul>#}


{% endblock %}