{% extends "WPWhitepaperBundle::layout.html.twig" %}

{% block wpwhitepaper_body %}
    <h1>Inscription Éditeur</h1>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.username, 'Nom d\'utilisateur') }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.first, 'Mot de passe') }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.second, 'Vérification') }}
        {{ form_errors(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.email, 'Adresse e-mail') }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.firstname, 'Prénom') }}
        {{ form_errors(form.firstname) }}
        {{ form_widget(form.firstname, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.lastname, 'Nom') }}
        {{ form_errors(form.lastname) }}
        {{ form_widget(form.lastname, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.phone, 'Numéro de téléphone') }}
        {{ form_errors(form.phone) }}
        {{ form_widget(form.phone, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.company, 'Nom de l\'éditeur') }}
        {{ form_errors(form.company) }}
        {{ form_widget(form.company, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.bio, 'Biographie') }}
        {{ form_errors(form.bio) }}
        {{ form_widget(form.bio, { 'attr': { 'class': 'form-control', 'rows': 3 } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.website, 'Site Internet') }}
        {{ form_errors(form.website) }}
        {{ form_widget(form.website, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.facebook, 'Facebook') }}
        {{ form_errors(form.facebook) }}
        {{ form_widget(form.facebook, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.twitter, 'Twitter') }}
        {{ form_errors(form.twitter) }}
        {{ form_widget(form.twitter, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    {#<div class="form-group">#}
        {#{{ form_label(form.description, 'Description') }}#}
        {#{{ form_errors(form.description) }}#}
        {#{{ form_widget(form.description, { 'attr': { 'class': 'form-control', 'rows': 3 } }) }}#}
    {#</div>#}

    {#<div class="form-group">#}
        {#{{ form_label(form.website, 'Site Internet') }}#}
        {#{{ form_errors(form.website) }}#}
        {#{{ form_widget(form.website, { 'attr': { 'class': 'form-control' } }) }}#}
    {#</div>#}

    {#<div class="form-group">#}
        {#{{ form_label(form.facebook, 'Facebook') }}#}
        {#{{ form_errors(form.facebook) }}#}
        {#{{ form_widget(form.facebook, { 'attr': { 'class': 'form-control' } }) }}#}
        {#<span id="helpBlock" class="help-block">Indiquer le lien complet.</span>#}
    {#</div>#}

    {#<div class="form-group">#}
        {#{{ form_label(form.twitter, 'Twitter') }}#}
        {#{{ form_errors(form.twitter) }}#}
        {#{{ form_widget(form.twitter, { 'attr': { 'class': 'form-control' } }) }}#}
        {#<span id="helpBlock" class="help-block">Indiquer seulement le pseudonyme (sans le @).</span>#}
    {#</div>#}

    {#<div class="form-group">#}
        {#{{ form_label(form.email, 'E-mail') }}#}
        {#{{ form_errors(form.email) }}#}
        {#{{ form_widget(form.email, { 'attr': { 'class': 'form-control' } }) }}#}
    {#</div>#}

    {#<div class="form-group">#}
        {#{{ form_label(form.phone, 'Téléphone') }}#}
        {#{{ form_errors(form.phone) }}#}
        {#{{ form_widget(form.phone, { 'attr': { 'class': 'form-control' } }) }}#}
    {#</div>#}

    {#<div class="form-group">#}
        {#{{ form_label(form.description, 'Description') }}#}
        {#{{ form_errors(form.description) }}#}
        {#{{ form_widget(form.description, { 'attr': { 'class': 'form-control', 'rows': 3 } }) }}#}
    {#</div>#}

    {#<div class="form-group">#}
        {#{{ form_label(form.publishedOn, 'Date de publication') }}#}
        {#{{ form_errors(form.publishedOn) }}#}
        {#{{ form_widget(form.publishedOn) }}#}
    {#</div>#}

    {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock %}